<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
  crossorigin="anonymous">
 
  <title>Burgie</title>
</head>
<body>

  <div class="container">
  This is from my index.
    <form>
      <input type="text" id="new-burger" placeholder="Add a burger"></input> 
      <button type="submit" id="submit-button">Submit</button>
    </form>
    {{#each burgers}}
      <div class="burger-list">
        <p>{{burger_name}}</p>
        <button type="button" class="btn btn-primary devour-button" data-id="{{id}}" data-state="{{devoured}}">Devour</button>
      </div>
    {{/each}}

    {{#if burgers.devoured}}
      <div class="devoured-burger-list">
        <p>{{burger_name}}</p>
      </div>
    {{/if}}
  </div>
   <script src="/js/app.js"></script>
</body>
</html>